.link {
  &--counter {
    font-size: 10px;
    font-weight: 700;
    line-height: calc(24 / 10);
    letter-spacing: calc(25 / 1000);
    color: white;
    border-radius: 50%;
    background-color: $brown;
  }
}
