.product-card__mark {
  color: white;
  text-transform: uppercase;
  letter-spacing: calc(100 / 1000);
  background-color: $pink;
}

.product-card__title {
  font-size: 16px;
  line-height: calc(36 / 16);
  letter-spacing: calc(25 / 1000);
  text-transform: uppercase;
}

.product-card__info {
  font-size: 13px;
  line-height: calc(21 / 13);
  letter-spacing: calc(25 / 1000);
}

.product-card__text {
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__price {
  font-size: 13px;
  line-height: calc(24 / 13);
  letter-spacing: calc(25 / 1000);
}

.product-card__old-price {
  color: $pink;
  text-decoration: line-through;
}
