.subscription__text {
  display: block;
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 18px;
  line-height: (24 / 18);
  letter-spacing: (100 / 1000) + em;
  font-weight: 700;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
}

.subscription__field-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.subscription__label {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: (24 / 14);
  letter-spacing: (100 / 1000) + em;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
}

.subscription__input {
  display: block;
  width: 100%;
  height: 40px;
  color: white;
  border-bottom: 2px solid $brown;
}

.subscription__button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.subscription__submit {
  line-height: (24 / 14);
  letter-spacing: (100 / 1000) + em;
  color: $brown;
  text-transform: lowercase;
  font-variant: small-caps;

  &:hover,
  &:focus {
    color: $light-brown;
  }
}

.subscription__social {
  display: flex;
  align-items: center;
  margin-top: 51px;
}

.subscription__social-link {
  font-weight: 700;
  line-height: (24 / 14);
  letter-spacing: (100 / 1000) + em;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;

  &:hover,
  &:focus {
    color: $light-brown;
  }
}

.footer__social-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 22px;
  background-color: white;
  border-radius: 50%;
}
