$desktop-min: 1440px;
$tablet-max: 1439px;
$mobile-max: 767px;

$main: #302a31;
$pink: #c16774; //bd6572
$light-brown: #cfad73;
$brown: #c1a067;
$other-brown: #caae81;
$gray: #f9f9f9;
$gray-border: #eceaed;
$green: #65bc54;
$purple: #8456a5;
